<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
              You in retro of <h1 style="display: inline; font-size: 24px;"><%= @retro.sprint_name %></h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="retros" data-retro-room-id="<%= @retro.id %>">
</div>

<%= form_for @retro_response, url: '#' do |f| %>
<div class="row">
  <div class="col-md-4">
  <div class="form-group">
    <%= f.label :good %>
    <%= f.text_area :good, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <div class="form-group">
    <%= f.label :bad %>
    <%= f.text_area :bad, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
</div>
</div>
<% end %>

<br>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            Want to invite someone?
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sharableUrl">
  Send this link: <a class="text-info" href="<%= @url %>"><%= @url %></a>
</div>

<br>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            Team members
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
<table class="table">
  <thead>
  <tr>
    <th scope="col">Team member</th>
    <th scope="col">Good</th>
    <th scope="col">To be improved</th>
  </tr>
  </thead>
  <tbody id="users-list">
  <% @retro.retro_responses.each do |r| %>
    <tr class="user-id-<%= r.user_id %>" data-user-id="<%= r.user_id %>">
      <td class="name"><%= r.user.email %></td>
      <td class="points"><%= r.good || 'Not given yet' %></td>
      <td class="points"><%= r.bad || 'Not given yet' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>