<div class="row" id="pointing-poker" data-chat-room-id="<%= @poker_room.id %>">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            You are giving point to <h1 style="display: inline; font-size: 24px;"><%= @poker_room.title %></h1>
            <a href="/pointing_pokers/new" class="btn btn-success pull-right">Calculate another story</a>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-12">
  <div class="poker-points" id="points-buttons">
    <button class="btn btn-info btn-sm" data-points="0" type="button">0 points</button>
    <button class="btn btn-info btn-sm" data-points=".5" type="button">1/2 points</button>
    <button class="btn btn-info btn-sm" data-points="1" type="button">1 points</button>
    <button class="btn btn-info btn-sm" data-points="2" type="button">2 points</button>
    <button class="btn btn-info btn-sm" data-points="3" type="button">3 points</button>
    <button class="btn btn-info btn-sm" data-points="5" type="button">5 points</button>
    <button class="btn btn-info btn-sm" data-points="8" type="button">8 points</button>
  </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            Want to invite someone?
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sharableUrl">
  Send this link: <a class="text-info" href="<%= @url %>"><%= @url %></a>
</div>
<br>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">
            Team members
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
<table class="table">
  <thead>
  <tr>
    <th scope="col">Team member</th>
    <th scope="col">Points</th>
  </tr>
  </thead>
  <tbody id="users-list">
  <% @channel_users.each do |user| %>
    <tr class="user-id-<%= user[:id] %>" data-user-id="<%= user[:id] %>">
      <td class="name"><%= user[:email] %></td>
      <td class="points"><%= user[:points] || 'Not given yet' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<button class="btn btn-info" type="button" id="calculate">Calculate Story Points</button>
<span id="story-point" class="btn btn-success pull-right">?</span>
</div>
</div>
